/*NAVIGATION*/
$principal_color: #1355ca;
#mainNav{
	font-family: 'Open Sans', sans-serif;
	transition: 0.4s;
}

.navbar-brand{
	font-weight: bold;
}

.navbar-toggler {
  font-size: 30px;
  font-weight: 800;
  padding: 8px;
  text-transform: uppercase;
}

.navbar-toggler:focus {
	box-shadow: none !important;
}

.nav-link{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
.nav-link:hover{
	color: $principal_color !important;
}

.nav-link--focussed{
	box-shadow: 0px 5px 0px 0px $principal_color;
}

@media only screen and (min-width: 992px){
	#mainNav{
		background: transparent;
		transition: 0.4s;
		box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
	}

	.navbar-brand:hover {
		color: $principal_color !important;
	}

	.nav-link{ 
		margin: 0px 9px;
		transition: .4s;
		border-radius: 10px;
	}

	.nav-link:hover{
		color: #FFFFFF !important;
		background-color: $principal_color;
	}	
}