---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Resume from '../../components/Resume.astro';
import Projects from '../../components/Projects.astro';
import { t } from '../../i18n/utils';

const tr = t('es');
---

<BaseLayout title="Acerca de mi">
	<main class="container">
		<div class="content-wrapper">
			<h2 class="page-title">{tr.about.title}</h2>
			<Resume locale="es" />
			<Projects locale="es" />
		</div>
	</main>
</BaseLayout>
