@import '~bootstrap/scss/bootstrap';

body{
	margin: 0;
	padding: 0;
	font-size: 20px;
  	color: #0d0d17;
	background-color: #ffffff;
	// background-color: #0d0d17;
	font-family: 'Lora', 'Times New Roman', sans-serif;
}

p{
	line-height: 1.5;
	margin:30px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
q{
  font-family: 'Roboto Mono', monospace;
}

cite{
	font-weight: normal;
	font-style: italic;
}

.wrap {
    min-height: 100vh;
}

.main {
    padding-bottom: 130px;
}

.footer {
    position: relative;
    margin-top: -130px;
    height: 130px;
}
