:root{
	--color-all:rgb(255,0,0);
	--color-title-main:blue;
}

*{
	margin:0;
}	
body{
	margin:20px 30px 40px 30px;
}
.title-main{
	color:var(--color-title-main,blue );
}

.title-secun{
	color:var(--color-all, green);
}

